.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #1976d2;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
